/* h1 타이틀 */
.reservationCheckTitle {
  margin-top: 100px;
  margin-left: 45px;
}

/* 예약 div */
.reservationDiv1 {
  margin-left: 250px;
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  background-color: rgb(255, 255, 255);
}

/* 체크 섹션1 */
.reservationCheckSection {
}

.reservationLi {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px rgb(232, 231, 231);
  justify-content: center;
  padding: 50px;
  width: 50%;
  height: 300px;
  border: 1px solid rgb(238, 237, 237);
  border-radius: 20px;
  margin-left: 250px;
}

/* 예약 정보 ul */
.reservationUl {
  margin-left: -30px;
}

/* 목록이미지 */
.listImg {
  width: 40px;
  height: 40px;
}

/* 예약 펜션 이미지 */
.reservationImg {
  float: right;
  margin-left: 300px;
  margin-top: -150px;
  width: 300px;
  height: 200px;
}

/*  */
.addReservationButton {
  padding: 20px;
  background-color: rgb(80, 68, 253);
  color: white;
  border-radius: 15px;
  border: none;
  margin-left: 250px;
}

.nicknameSpace{
  margin-left:270px;
}

#detailButton {
  margin-left :20px;
}


