#myPage-layout{
    box-sizing: border-box;
    width: 100%;
    margin-top: 120px;
}

#myPage-container{
    width: 1500px;
    margin: auto;
}

#myPage-navigation{
    width: 220px;
    height: 295px;
    margin-top: 12px;
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
    border-color:lightgray;
    border-radius: 10px;
    float:left;
}

#navigation-list{
    list-style: none;
    margin-right: 30px;
}

#nav-userInfo{
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#myPage-content{
    /* background-color: gray; */
    float:right;
    width: 900px;
    margin-top: 20px;
    margin-right: 200px;
}

#content-title{
    font-size:x-large;
    font-weight: 600;
}

#user-email-info, #user-nickname-info, #user-phone-info, #user-birth-info, #user-gender-info, #user-birthday-info{
    margin-top: 20px;
    font-size: small;
}

#user-email-value, #user-nickname-value, #user-phone-value, #user-birth-value, #user-gender-value, #user-birthday-value{
    width: 300px;
    height: 40px;
    border:none;
    background-color: rgb(243, 243, 243);
}

#user-email-edit, #user-nickname-edit, #user-phone-edit, #user-birth-edit, #user-gender-edit{
    width: 300px;
    height: 40px;
    border:none;
    background-color: rgb(231, 231, 231);
}

/* 이메일은 수정불가 표시 용도 */
#user-email-edit{
    color:gray;
}

#edit-button{
    float: right;
    font-size:"small"; 
    background: none;
    border:none;
    color:"gray";
}

#saveEditInfo{
    float: right;
    font-size:"small"; 
    background: none;
    border:none;
}

#signOut-button{
    float: right; 
    margin-right: 5px;
    font-size: small; 
    color: gray;
    background-color:white;
    border:none;
}

#Change-password-button{
    font-size: small; 
    color: gray;
    background-color:white;
    border:none;
}
