.password-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#pw-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 7px;
  width: 25%;
  height: 540px;
}

.open {
  display: block;
}

#current-password-input,
#new-password-input,
#confirm-new-password-input {
  height: 45px;
  border-color: gray;
  border-style: solid;
  border-radius: 7px;
  margin-top: 7px;
}

#changePassword-button {
  height: 45px;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 115, 0);
  color: white;
}
