#restePassword-title {
  font-size: x-large;
  margin-right: 234px;
  margin-top: 80px;
}
#resetPassword-message {
  float: left;
  color: gray;
}
#resetPassword-email-label {
  float: left;
  font-size: small;
  margin-left: 2px;
}
#resetPassword-button {
  height: 45px;
  width: 100%;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 115, 0);
  color: white;
}

.reset-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
