.resw-100 {
  width: 100%;
}

.resh-100 {
  height: 100%;
}

a {
  text-decoration: none;
  text-align: center;
}

.reswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  overflow: auto;
}

.resmax-w-540 {
  max-width: 540px;
}

.resbtn-wrapper {
  padding: 0 24px;
}

.resbtn {
  padding: 11px 22px;
  border: none;
  border-radius: 8px;

  background-color: #f2f4f6;
  color: #4e5968;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.resbtn.primary {
  background-color: #3282f6;
  color: #f9fcff;
}

.restext-center {
  text-align: center;
}

.resflex {
  display: flex;
}

.resflex-column {
  display: flex;
  flex-direction: column;
}

.resjustify-center {
  justify-content: center;
}

.resjustify-between {
  justify-content: space-between;
}

.resalign-center {
  align-items: center;
}

.resconfirm-loading {
  margin-top: 72px;
  height: 400px;
  justify-content: space-between;
}

.resconfirm-success {
  display: none;
  margin-top: 72px;
}

.resbutton-group {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.restitle {
  margin-top: 32px;
  margin-bottom: 0;
  color: #191f28;
  font-weight: bold;
  font-size: 24px;
}

.resdescription {
  margin-top: 8px;
  color: #4e5968;
  font-size: 17px;
  font-weight: 500;
}

.resresponse-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
}

.resresponse-section .response-label {
  font-weight: 600;
  color: #333d48;
  font-size: 17px;
}

.resresponse-section .response-text {
  font-weight: 500;
  color: #4e5968;
  font-size: 17px;
  padding-left: 16px;
  word-break: break-word;
  text-align: right;
}

.rescolor-grey {
  color: #b0b8c1;
}
