/* 최상위 div 태그 css */
#review-page {
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#review-add-box {
  width: 50%;
  height: 700px;
  border: 1px solid;
}

#review-text {
  width: 50%;
  height: 250px;
}
